body {
	background-color: #EEEEEE;
	color: #393e46;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

p {
	font-size: 18px;
}

.header {
	line-height: 20px;
	margin: 5% auto;
	position: relative;
}

.header i {
	animation: float 1.4s ease-in-out infinite;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(50%, 0);
}

@keyframes float {
	0%, 100% {
		transform: translate(-50%, -5px);
	}
	50% {
		transform: translate(-50%, 0);
	}
}

.header h2 {
	padding: 70px 0 50px;
}

