body {
	background-color: #EEEEEE;
	color: #393e46;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

p {
	font-size: 18px;
}

.container {
	border-left: 10px solid #222831;
	background-color: white;
	text-align: center;
}

form .field-box {
	background-color: #eeeeee;
	border: none;
	position: relative;
	width: 80%;
}

form #username {
	background-color: #eeeeee;
	border: none;
	height: 100%;
	padding-left: 25%;
	width: 100%;
}

form label {
	background-color: #222831;
	color: white;
	height: 100%;
	left: 0;
	line-height: 40px;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 100%;

	-webkit-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
}

form .field-box:hover label, form .focus label {
	background-color: #00adb5;
	width: 20%;

	-webkit-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
    transition: background-color 500ms ease-in-out, width 500ms ease-in-out;
}

input, .btn {
	outline: none;
}

input:focus, .btn:focus {
	outline: none;
	box-shadow: none;
}

.submit-btn {
	background-color: #00adb5;
	border-radius: 0;
	color: white;
	outline: none;
}

.submit-btn:hover {
	background-color: #222831;
	border-radius: 0;
	color: #00adb5;
	outline: none;
}

.nav {
	bottom: 0pt;
	left: 1%;
}

.nav ul {
}

.nav li {
	display: inline;
	float: right;
	list-style: none;
}

.nav a {
	display: block;
	font-size: 6em;
	text-transform: uppercase;
}