{% extends 'bootstrap/base.html' %}

{% block title %}   
    {{ title }}
{% endblock %}

{% block styles %}
	{{ super() }}
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "../static/css/main.css">
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
{% endblock %}

{% block navbar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="../static/js/main.js"></script>
	}
{% endblock %}